
.postOptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.postOptions > h4 {
    color: gray;
    margin-left: 5px;
    align-items: center;
}

.postOptions > h4:hover {
    color: black;
}

.postOptions__icon {
    margin-top: 3px;
    align-items: center;
}